.tableHeader {
  background-color: #006400;
  color: #ffffff !important;
  font-weight: bold;
}

.smallRow {
  height: 20px; /* Mas maliit na row height */
}

.expandIcon {
  cursor: pointer;
  color: #006400;
}

.childRow {
  background-color: #f9f9f9;
  padding: 10px 20px;
}

.actionsCell {
  min-width: 150px;
}

.inputField {
  background-color: #ffffff;
}

.selectField {
  background-color: #ffffff;
}

.childTable {
  width: 100%;
  border-collapse: collapse;
}

.childTable th {
  background-color: #006400;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.childTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
