.wrapper {
  background-color: var(--color-green-dark);
  color: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
  max-width: 800px;
  margin: 2rem auto;
}

.pageBackground {
  background-color: var(--color-green-dark);

  padding: 2rem;
}
